.container {
display: flex;
}

.header1 {
display: flex;
flex-direction: row;
align-content: flex-start;
}

.sidebar {
}

.top {
display: flex;
flex-direction: column;
align-content: flex-start;
}

.classes {
display: flex;
flex-direction: column;
align-content: flex-start;
}